<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include head %>
  </head>
  <body>
        <header>
            <div>
                <span>企业级协同办公<span class="bigfont">OA系统</span></span>
            </div>
            <nav><span>&nbsp;&nbsp;<span id="date"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前用户：| 所在部门：</span>
                    <a href="#">
                        <figure>
                            <img src="/images/icon_home.png" alt="主页">
                            <figcaption>主页</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure>
                            <img src="/images/icon_home.png" alt="主页">
                            <figcaption>编辑</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure>
                            <img src="/images/icon_home.png" alt="主页">
                            <figcaption>消息</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure>
                            <img src="/images/icon_home.png" alt="主页">
                            <figcaption>邮件</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure>
                            <img src="/images/icon_home.png" alt="主页">
                            <figcaption>退出</figcaption>
                        </figure>
                    </a>
            </nav>
        </header>
       <script src="/javascripts/GetDate.js"></script>
