body{
  font-size: 12px;
  font-family: "宋体","微软雅黑";
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header div {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #303030;
  text-align: center;
  -webkit-text-fill-color: dodgerblue;
  font-family: sans-serif;
}

header .bigfont{
  font-size: 3em;
}

header nav>span{
  float: left;
  margin-top: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-left: 20px;
}
figcaption{
  text-align: center;
}

header nav figure{
  float: right;
  width: 40px;
  height: auto;
}

header nav{
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

ul,li{list-style: none;}
a:link,a:visited{text-decoration: none;}
.list{width: 210px;border-bottom:solid 0px #316a91;margin:35px auto 0 0;}
.list ul li{background-color:#467ca2; border:solid 1px #316a91; border-bottom:0;}
.list ul li a{padding-left: 10px;color: #fff; font-size:12px; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;
}
.list ul li .inactive {background:url(../images/off.png) no-repeat 140px center;}
.list ul li .inactives{background:url(../images/on.png) no-repeat 140px center;} 
.list ul li ul{display: none;}
.list ul li ul li { border-left:0; border-right:0; background-color:#6196bb; border-color:#467ca2;}
.list ul li ul li ul{display: none;}
.list ul li ul li a{ padding-left:20px;}
.list ul li ul li ul li { background-color:#d6e6f1; border-color:#6196bb; }
.last{ background-color:#d6e6f1; border-color:#6196bb; }
.list ul li ul li ul li a{ color:#316a91; padding-left:30px;}

div#wrapper{
  margin: 15px 0;
  overflow: auto;
}

div#content{
  float: left;
  margin-left: 250px;
}

div#sidebar{
  background-color: #666666;
  font-size: 12px;
}

div#sidebar{
  float: left;
  margin-right: -250px;
  width: 250px;
  background-color: #E8E8E8
}

#department th,tr,td{
  text-align: center;
  width: 200px;
  height: 40px;
}

#department {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
#department th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
#department td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}

#topname{
  width:160px;
  height:40px;
  line-height:25px;
  font-size: 2em;
}