<% include ../includes/header %>
<div id="wrapper">
    <div id="sidebar">
        <div class="list">
                <ul class="yiji">
                <li><a href="#" class="inactive">个人办公</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">个人考勤</a></li>
                        <li class="last"><a href="#">日程安排</a></li>
                        <li class="last"><a href="#">工作计划</a></li>
                        <li class="last"><a href="#">工作日记</a></li>
                        <li class="last"><a href="#">通讯录</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">审批流转</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">审批流程管理</a></li>
                        <li class="last"><a href="#">表单模板管理</a></li>
                        <li class="last"><a href="#">起草申请</a></li>
                        <li class="last"><a href="#">待我审批</a></li>
                        <li class="last"><a href="#">我的申请查询</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">网上交流</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">短消息</a></li>
                        <li class="last"><a href="#">论坛</a></li>
                        <li class="last"><a href="#">论坛管理</a></li>
                        <li class="last"><a href="#">投票</a></li>
                        <li class="last"><a href="#">实时聊天</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">知识管理</a></li>
                <li><a href="#" class="inactive">综合行政</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">考勤管理</a></li>
                        <li class="last"><a href="#">会议管理</a></li>
                        <li class="last"><a href="#">车辆管理</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">人力资源</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">档案管理</a></li>
                        <li class="last"><a href="#">培训记录</a></li>
                        <li class="last"><a href="#">奖惩记录</a></li>
                        <li class="last"><a href="#">职位变更</a></li>
                        <li class="last"><a href="#">人事合同</a></li>
                        <li class="last"><a href="#">类别维护</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">实用工具</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">公司网站</a></li>
                        <li class="last"><a href="#">火车时刻</a></li>
                        <li class="last"><a href="#">飞机航班</a></li>
                        <li class="last"><a href="#">邮编/区号</a></li>
                        <li class="last"><a href="#">国际事件</a></li>
                    </ul>
                </li>
                <li><a href="#" class="inactive">系统管理</a>
                    <ul style="display: none">
                        <li class="last"><a href="#">岗位管理</a></li>
                        <li class="last"><a href="#">部门管理</a></li>
                        <li class="last"><a href="#">用户管理</a></li>
                    </ul>
                </li>
                </ul>
                <script src="/javascripts/autoMenu.js"></script>
            </div>   
    </div>
    <div id="content">