<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ../includes/head %>
  </head>
<body>
    <div class="container">
        <form action="" class="form-signin login-form">
            <h2 class="form-signin-heading">请登录</h2>
            <label for="" class="sr-only">Email address</label>
            <input type="text" class="form-control" placeholder="Email address" required autofocus>
            <label for="" class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="ben ben-lg btn-primart ben-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>